body{
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	/*background-color: #e0e0e0;*/
	width: 100%;
  	height: 100%;
  	padding: 0;
  	font-size: 14px;
}

h1 {
	color: #191970;
	font-size: 250%;
	text-align: justify;
	font-family: Serif;
	font-weight: 900;
}
h2{
	color: #191970;
	font-size: 200%;
	text-align: center;
	font-family: Serif;
}
h3{
	color: #990000;
	font-size: 200%;
	text-align: center;
	font-family: Serif;
}
h4 {
	color: #D00000 ;
	font-size: 200%;
	text-align: right;
	font-family: Serif;
	font-style: italic;
}
h5{
	color: #280000;
	font-size: 150%;
	font-family: Serif;
}

nav{
	background-color: #191970;
	width: 100%;
}
button{
	color: #ffffff;
}


.italicize{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif; 
  font-style: oblique;
}

/* label focus color */
.input-field label {
	color: rgba(0, 0, 0, 0.4) !important;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field input[type=date]:focus,
.input-field textarea:focus
 {
	border-bottom: 1px solid #1E88E5 !important;
	box-shadow: 0 1px 0 0 #2E8DEF !important;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #1E88E5;
    box-shadow: 0 1px 0 0 #1E88E5;
}

/* icon prefix focus color */
.input-field .prefix.active {
	color: #00897b !important;
}

/* label color */
.input-field label {
   color: rgba(0, 0, 0, 0.6);
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.borderRound{
	/*border: 1px solid #280000;*/
	padding: 8px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px;
}
  #map {
        height: 450px;
        width: 100%;
  }