body{
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

/* label focus color */
.input-field label {
	color: rgba(0, 0, 0, 0.4) !important;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field input[type=date]:focus,
.input-field textarea:focus
 {
	border-bottom: 1px solid #1E88E5 !important;
	box-shadow: 0 1px 0 0 #2E8DEF !important;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #1E88E5;
    box-shadow: 0 1px 0 0 #1E88E5;
}

/* icon prefix focus color */
.input-field .prefix.active {
	color: #00897b !important;
}

/* label color */
.input-field label {
   color: rgba(0, 0, 0, 0.6);
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
}