<div ng-controller="sideNavCtrl">
	<div class="row">
		<ul id="slide-out" class="side-nav fixed" 
			style="background-color: #263238; color: white; cursor: pointer; text-align: left">
		  	<li ng-click="navigateTo('teachersHome')"><center><span>Mr Tah Ngwa</span></center></li>
			<li><center><img height="100" width="150" src="images/Enjoy.jpg"></center></li>
		    <li ng-click="navigateTo('messages')">MESSAGES <i class="tiny material-icons right">chat</i><span class="right">6</span></li>
			<li>SUBMITTED MARKS <i class="tiny material-icons right">view_module</i></li>
			<li>SUBMIT MARKS <i class="tiny material-icons right">announcement</i></li>
			<li>SUBMIT QUESTIONS <i class="tiny material-icons right">receipt</i></li>
			<li>SEND MESSAGE <i class="tiny material-icons right">textsms</i></li>
			<li>PROFILE <i class="tiny material-icons right">settings</i></li>
			<li>LOG OUT <i class="tiny material-icons right"></i></li>
		</ul>
	</div>
</div>