<div ng-include="'/views/navigation_bar.html'"></div>
<div>
  <div class="row">
    <div class="col s12"></div>
  </div>

  <div class="row">
    <!--history-->
    <div class="col s6">
      <div class="section">
        <h5>History</h5>
          <p style="text-align: left">Vivamus tortor nisl, lobortis in, faucibus et, tempus at, dui. Nunc risus. Proin scelerisque augue. Nam ullamcorper. Phasellus id massa. Pellentesque nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc augue. Aenean sed justo non leo vehicula laoreet. Praesent ipsum libero, auctor ac, tempus nec, tempor nec, justo.</p>
      </div>
    </div>

    <!--vision-->
    <div class="col s6">      
      <div class="section">
        <h5>Our Vision</h5>
          <p style="text-align: left">Maecenas ullamcorper, odio vel tempus egestas, dui orci faucibus orci, sit amet aliquet lectus dolor et quam. Pellentesque consequat luctus purus. Nunc et risus. Etiam a nibh. Phasellus dignissim metus eget nisi. Vestibulum sapien dolor, aliquet nec, porta ac, malesuada a, libero. Praesent feugiat purus eget est. Nulla facilisi. Vestibulum tincidunt sapien eu velit. Mauris purus. Maecenas eget mauris eu orci accumsan feugiat. Pellentesque eget velit. Nunc tincidunt. </p>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- a column-->
    <div class="col s6">
      <div class="section">
        <h5>School Anthem</h5>
          <p style="text-align: center">
          Along the lower banks of the Biyembe River,<br/>
          Where farewell kiss of sunset rays strike,<br/>
          Is found Saint Stephen's International College,<br/>
          Full of wisdom, knowledge; thus a place to belong,<br/>
          With "Excellence for Higher Heights",<br/>
          A motto which we uphold<br/><br/>

          Created in two thousand and ten,<br/>
          The rough humble beginning,<br/>
          Like a mustard seed that has become a tree,<br/>
          Here we are the fruits of that tree (*2)<br/><br/>

          Give us the strength, Lord, to embark on succes,<br/>
          A benchmark for which Patron Saint Stephen is Martyr<br/>
          Make this college, Lord, a great sanctuary of sound education,<br/>
          With holistic growth and charactter formation<br/><br/>

          We must have faith, for with God, we can<br/>
          And courage, for with God, we can.<br/><br/>
        </p>
      </div>
    </div>

    <!-- a column-->
    <div class="col s6">      
      <div class="section">
        <h5>Internal Rules and Regulations</h5>
          <ul style="text-align: left">
            <li>Lorem ipsum dolor sit amet</li>
            <li>consectetuer adipiscing elit Sed elit.</li>
            <li>Nulla sem risus, vestibulum in, volutpat eget, dapibus ac, lectus.</li>
            <li>Curabitur dolor sapien, hendrerit non, suscipit bibendum, arcu.</li>
            <li>Vestibulum dapibus. Sed pede lacus, pretium in, condimentum sit amet</li>
            <li>mollis dapibus, magna. Ut bibendum dolor nec augue.</li>
            <li>Ut tempus luctus metus.</li>
          </ul>
     </div>
    </div>
  </div>

  <!--staff-->
  <div class="row" style="margin-top: 60px">
    <h2 style="text_align: center">MEET OUR COMPETENT STAFF</h2>
    
    <div class="col s3">
      <div class="section">
        <img src="images/reflect.jpg" width="250" height="250" alt="..." class="img-rounded img-responsive" >
        <h5>Administration</h5>
        <button type="submit" class="btn waves-effect waves-light" style="background-color: #191970;">MORE...</button>
      </div>
    </div>

    <div class="col s3">
      <div class="section">
        <img src="images/reflect.jpg" width="250" height="250" alt="..." class="img-rounded img-responsive" >
        <h5>Management board</h5>
        <button type="submit" class="btn waves-effect waves-light" style="background-color: #191970;">MORE...</button>
      </div>
    </div>

    <div class="col s3">
      <div class="section">
       <img src="images/reflect.jpg" width="250" height="250" alt="..." class="img-rounded img-responsive" >
       <h5>Teachers</h5>
       <button type="submit" class="btn waves-effect waves-light" style="background-color: #191970;">MORE...</button>
      </div>
    </div>

    <div class="col s3">
      <div class="section">
        <img src="images/reflect.jpg" width="250" height="250" alt="..." class="img-rounded img-responsive" >
          <h5>Student Executive</h5>
          <button type="submit" class="btn waves-effect waves-light" style="background-color: #191970;">MORE...</button>
      </div>
    </div>
        
  </div>
</div>      
<br/><div class="divider"></div><br/>
<div ng-include="'/views/footer.html'"></div>