<div ng-include="'/views/navigation_bar.html'"></div>
  <div class = "row">
  <br/><br/>

    <div class="col s10" style ="text-align: left">    
      
      <div class="col s3">
        <div class="section">
        <h5>Conditions for Admission</h5>
          <ul>
            <li>Lorem ipsum</li>
            <li>Dolor sit amet consectetur</li>
            <li>Edipisicing elitseddo</li>
            <li>Eiusmod tempor incididunt</li>
            <li>MORE...</li>
          </ul>
        </div>   
        <div class="section">
        <h5>Conditions for Promotion</h5>
          <ul>
            <li>Lorem ipsum</li>
            <li>Dolor sit amet consectetur</li>
            <li>Edipisicing elitseddo</li>
            <li>Eiusmod tempor incididunt</li>
            <li>MORE...</li>
          </ul>
        </div>
      </div>

      <div class="col s9">
        
        <div class="row">
          <div class="col s5">
            <img src="images/reflect.jpg" width="250" height="250">
          </div>
          <div class="col s7">
            <h3>First Cycle</h3>
            <ul>
                <li>Form 1 (Lorem ipsum)</li>
                <li>Form 2 (Dolor sit amet consectetur)</li>
                <li>Form 3 (Edipisicing elitseddo)</li>
                <li>Form 4 (Eiusmod tempor incididunt)</li>
                <li>Form 5 (Eiusmod tempor incididunt)</li>
              </ul>
          </div>
        </div>

        <div class="row">
          <div class="col s5">
            <img src="images/reflect.jpg" width="250" height="250">
          </div>
          <div class="col s7">
            <h3>Second Cycle</h3>
            <ul>
                <li>Lowersixth Arts (Lorem ipsum)</li>
                <li>Lowersixth Arts (Dolor sit amet consectetur)</li>
              </ul>
          </div>
        </div>

      </div>
   </div>
        
    <div class="col s2" style="text-align: justify">
      <h3>Extracurricular activities</h3>
                   
          <div class="section">
            <h5>Music</h5>
            <ul>
              <li>Lorem ipsum</li>
              <li>Dolor sit amet consectetur</li>
              <li>Edipisicing elitseddo</li>
              <li>Eiusmod tempor incididunt</li>
            </ul>
          </div>
          
          <div class="section">
            <h5>Bees</h5>
            <ul>
              <li>Lorem ipsum</li>
              <li>Dolor sit amet consectetur</li>
              <li>Edipisicing elitseddo</li>
              <li>Eiusmod tempor incididunt</li>
            </ul>
          </div>
          
          <div class="section">
            <h5>Excusions</h5>
            <ul>
              <li>Lorem ipsum</li>
              <li>Dolor sit amet consectetur</li>
              <li>Edipisicing elitseddo</li>
              <li>Eiusmod tempor incididunt</li>
            </ul>
          </div>
    </div>

  </div>

  <br/><div class="divider"></div><br/>
<div ng-include="'/views/footer.html'"></div>