<div ng-include="'/views/navigation_bar.html'"></div>
<div>
	<h4 class="center-align">SCHOOL JOURNAL</h4>
      <div class="divider"></div><br/>
      <!--articles on cards-->
      <div class="row">
        <div class="col s4">
           <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="images/office.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title</span>
                <p>Lorem ipsum dolor sit amet Vivamus tortor nisl, lobortis in, faucibus et, tempus at, dui. Nunc risus. Proin scelerisque augue. Nam ullamcorper. Phasellus id massa</p>
              </div>

               <div class="card-action">
                <a href="#" class="btn light grey-text text-lighten-3 activator">Read more</a>              
              </div>

              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
    
              </div>
            </div>
        </div>
         <div class="col s4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="images/sample-1.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title</span>
                <p>Lorem ipsum dolor sit amet Vivamus tortor nisl, lobortis in, faucibus et, tempus at, dui. Nunc risus. Proin scelerisque augue. Nam ullamcorper. Phasellus id massa</p>
              </div>

               <div class="card-action">
                <a href="#" class="btn light grey-text text-lighten-3 activator">Read more</a>              
              </div>

              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Vivamus tortor nisl, lobortis in, faucibus et, tempus at, dui. Nunc risus. Proin scelerisque augue. Nam ullamcorper. Phasellus id massa. Pellentesque nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc augue. Aenean sed justo non leo vehicula laoreet. Praesent ipsum libero, auctor ac, tempus nec, tempor nec, justo.</p>
    
              </div>
            </div>
         
          </div>

          <div class="col s4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="images/office.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title</span>
                <p>Lorem ipsum dolor sit amet Vivamus tortor nisl, lobortis in, faucibus et, tempus at, dui. Nunc risus. Proin scelerisque augue. Nam ullamcorper. Phasellus id massa</p>
              </div>

               <div class="card-action">
                <a href="#" class="btn light grey-text text-lighten-3 activator">Read more</a>              
              </div>

              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
    
              </div>
            </div>
         
          </div>
          
      </div>

      <!--comments-->
      <br/><div class="divider"></div><br/>
      <div class="row">
        <div class="col s6">
          <form>
            <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Comment</label>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                </button>
              </div>
          </form>
        </div>
      </div>
</div>
    <br/><div class="divider"></div><br/>
	<div ng-include="'/views/footer.html'"></div>