<div ng-include="'/views/navigation_bar.html'"></div>
<div>
	<!--body-->
       <div class="row">
       <div class="divider"></div>
         <div class="col s6" style="text-align: left">
           <!--contact-->
           <h3>OUR CONTACT</h3>
            <address>
              <strong>SSIC</strong><br>
              795 Folsom Ave, Suite 600<br>
              Cameroon, CA 94107<br>
              <strong>P.O BOX</strong><br>
              <abbr title="Phone">P:</abbr> (+237) 6756-7890
               <abbr title="Phone">P:</abbr> (+237) 6956-7890
            </address>

            <address>
              <strong>Email</strong><br>
              <a href="mailto:#">first.last@example.com</a>
            </address>

         </div>
         <div class="col s6">
           <h3>Send us a message</h3>
           <form class="col s6">
              <div class="row">
                <div class="input-field col s12">
                  <input id="name" type="text" class="validate">
                  <label for="name">Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="text" type="text" class="validate">
                  <label for="text">Subject</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Message</label>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                </button>
              </div>
           </form>
         </div>

       </div>

       <!--map-->
       <div class="row">
       
       </div>

</div>
    <br/><div class="divider"></div><br/>
	<div ng-include="'/views/footer.html'"></div>