<div class="row">
        <!--social media-->
        <div class="col s4">
          <h5>Social Media</h5>
              <a href="facebook.com/ssic"> <img src="images/facebook.gif" class="responsive-img"></a>
              <a href="www.gmail.com/ssic"> <img src="images/twitter.gif" class="responsive-img"></a>
              <a href="www.gmail.com/ssic"> <img src="images/wire.gif" class="responsive-img"></a>


        </div>
        <!-- logo image-->
        <div class="col s4">
          <img src="images/logo/leaf icon.png" width="128" height="128" class="responsive-img">

        </div>
        <!--partners-->
        <div class="col s4 section" style="text-align: left">
          <h5>Partners</h5>
          <ul>
            <li>Lorem ipsum</li>
            <li>Dolor sit amet consectetur</li>
            <li>Edipisicing elitseddo</li>
            <li>Eiusmod tempor incididunt</li>
          </ul>
        </div>
      

        <div class="footer-copyright">
            <div class="container">
            &copy; SSIC 2016
            <a class="grey-text right" href="#"></a>
            </div>
          </div>

      </div>