<div class="row">

  <!--partners-->
  <div class="col s3 section" style="text-align: left">
    <h5>Partners</h5>
    <ul>
      <li>Lorem ipsum</li>
      <li>Dolor sit amet consectetur</li>
      <li>Edipisicing elitseddo</li>
      <li>Eiusmod tempor incididunt</li>
    </ul>
  </div>

  <!--social media-->
  <div class="col s3" style="text-align: left">
    <h5>SSIC Online</h5>
    <div class="clear"><p>Social media<p></div>
      <a href="facebook.com/ssic"><img src="images/facebook.gif"class="responsive-img"></a>
      <a href="www.gmail.com/ssic"><img src="images/twitter.gif"class="responsive-img"></a>
      <a href="www.gmail.com/ssic"> <img src="images/wire.gif" class="responsive-img"></a>

      <br/>
      <a href="#/contact">Contact us</a>
    </div>

  <!-- logo image-->
  <div class="col s3" style="text-align: justify">
    <img src="images/logo/leaf icon.png" width="50" height="50" class="responsive-img">
    <h5> Our contacts</h5>
    <ul>
      <li>Lorem ipsum</li>
      <li>Dolor sit amet consectetur</li>
    </ul>
  </div>
  
  <!--results-->
  <div class="col s3 section" style="text-align: left">
    <h5>GCE Results</h5>
    <ul>
      <li>Lorem ipsum</li>
      <li>Dolor sit amet consectetur</li>
      <li>Edipisicing elitseddo</li>
      <li>Eiusmod tempor incididunt</li>
    </ul>
  </div>
</div>
<div class="footer-copyright">
    <div class="container">
      &copy; SSIC 2016
      <a class="grey-text right" href="#"></a>
     </div>
  </div>