<div ng-include="'/views/navigation_bar.html'"></div>
<!-- Body -->
  <div class="row" style="margin-bottom:70px">
    <h2>Welcome to St Stephen's International College</h2>
        <p style="text-align: justify">
          St. Stephen's College is a purely anglo-saxon college...Vivamus tortor nisl, lobortis in, faucibus et, tempus at, dui. Nunc risus. Proin scelerisque augue. Nam ullamcorper. Phasellus id massa. Pellentesque nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc augue. Aenean sed justo non leo vehicula laoreet. Praesent ipsum libero, auctor ac, tempus nec, tempor nec, justo.
        </p>

    <div class="col s9" style="width: 78%">

        <!--slider-->
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="images/background3.jpg" class="responsive-img"><!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="images/background2.jpg" class="responsive-img"> <!-- random image -->
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="images/reflect.jpg" class="responsive-img"> <!-- random image -->
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="images/jennifer.jpg" class="responsive-img"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
      </div>
      
    </div> 
    <!--Side bar-->
      <div class="col s3 borderRound" id="side_bar"; style="text-align: center; width:22%">

        <div class="section">
          <h5>Latest News</h5>
          <ul>
            <li>Lorem ipsum</li>
            <li>Dolor sit amet consectetur</li>
            <li>Edipisicing elitseddo</li>
            <li>Eiusmod tempor incididunt</li>
            <li>Edipisicing elitseddo</li>
            <li>Eiusmod tempor incididunt</li>
            <button type="submit" class="btn waves-effect waves-light" style="background-color: #191970;">MORE...</button>
          </ul>
        </div>
          
        <div class="section" style="margin-top: 10px;">
          <h5>New on Campus</h5>
          <ul>
            <li>Lorem ipsum</li>
            <li>Dolor sit amet consectetur</li>
            <li>Edipisicing elitseddo</li>
            <li>Eiusmod tempor incididunt</li>
            <li>Edipisicing elitseddo</li>
            <li>Eiusmod tempor incididunt</li>
            <button type="submit" class="btn waves-effect waves-light" style="background-color: #191970;">MORE...</button>
          </ul>
        </div>
      </div> 

    </div>
  
    <div class="row">
      <div class="col s9">
        <div class="col s3" style="text-align:left; width:33%">
          <div class="section">
            <h5 style="text-align:left">Our facilities</h3>
            <ul>
              <li> Well trained and experienced staff </li>
              <li>Clean spacious classrooms</li>
              <li>Well equiped computer laboratory</li>
              <li>Individual seats for students</li>
            </ul>
          </div>
        </div>
          
        <div class="col s3" style="text-align: left; width:33%">
          <div class="section">
            <h5>Once a Stephanian</h3>
            <ul>
              <li>Lorem ipsum</li>
              <li>Edipisicing elitseddo Dolor</li>
              <li>Edipisicing elitseddo</li>
              <li>Eiusmod tempor incididunt Lorem</li>
            </ul>
          </div>
        </div>

        <div class="col s3" style="text-align: left; width:34%">
          <div class="section">
            <h5>Once a Stephanian</h3>
            <ul>
              <li>Lorem ipsum</li>
              <li>Edipisicing elitseddo Dolor</li>
              <li>Edipisicing elitseddo</li>
              <li>Eiusmod tempor incididunt Lorem</li>
            </ul>
          </div>
        </div>
      </div>

      <!--second sidebar-->
      <div class="col s3" id="side_bar2"; style="text-align: center; width:25%">
        <div class="row">
          <ul style="text-align: left">
           <li><a href="#/about">Internal rules and regulations</a></li>
           <li><a href="#/academics">Calendar of activities</a></li>
           <li><a href="#/academics">Extracurricular activities</a></li>
           <li><a href="#/students">General timetable</a></li>
           <li><a href="#/journal">Prize award ceremony</a></li>
          </ul>

          <div style="text-align:left">
            <button type="submit" class="btn waves-effect waves-light" style="background-color: #191970;">Online Rgistration</button>
          </div>

        </div>
      </div>
    </div>

    <!--main activities and events-->
    <div class="row" style="margin-top: 60px;">

      <!--first post-->
      <div class="col s3" style="text-align: left">          
        <div class="section">
          <h5>Academic Calendar</h5>
          <ul>
            <li>Lorem ipsum</li>
            <li>Dolor sit amet consectetur</li>
            <li>Edipisicing elitseddo</li>
            <li>Eiusmod tempor incididunt</li>
          </ul>
        </div>
      </div>

      <!--second post-->
      <div class="col s3" style="text-align: left">          
        <div class="section">
          <h5>Prospectus</h5>
          <ul>
            <li>Lorem ipsum</li>
            <li>Dolor sit amet consectetur</li>
            <li>Edipisicing elitseddo</li>
            <li>Eiusmod tempor incididunt</li>
          </ul>
        </div>
      </div>
        
      <!--third post-->
      <div class="col s3" style="text-align: left">          
        <div class="section">
          <h5>Extra curricular activities</h5>
          <ul>
            <li>Lorem ipsum</li>
            <li>Dolor sit amet consectetur</li>
            <li>Edipisicing elitseddo</li>
            <li>Eiusmod tempor incididunt</li>
          </ul>
        </div>
      </div>    

      <!--fourth post-->
      <div class="col s3" style="text-align: left">          
        <div class="section">
          <h5>Academic Calendar</h5>
          <ul>
            <li>Lorem ipsum</li>
            <li>Dolor sit amet consectetur</li>
            <li>Edipisicing elitseddo</li>
            <li>Eiusmod tempor incididunt</li>
          </ul>
        </div>
      </div>
    </div>

  <br/><div class="divider"></div><br/>
<div ng-include="'/views/footer.html'"></div>