 <!-- Header -->
 <center>
 <div ng-controller="navCtrl">
      <div class="row">

        <!--logo-->
        <div class="col s2">
          <img src="images/logo/leaf icon.png" width="128" height="128" class="responsive-img">
        </div>

        <!--TITLE -->
        <div class="col s7">
          <h5>ST Stephens International College</h5>
        </div>  

        <!--search-->
        <div class="col s3">

          <input type="text" value="" placeholder="search" />
        </div>  



      </div>

 <!--navigation bar-->
      <div class="row">

        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#/teachers">Teacher</a></li>
          <li class="divider"></li>
          <li><a href="#/admin">Admin</a></li>
        </ul>
        <!-- Dropdown Structure -->
        <ul id="dropdown2" class="dropdown-content">
          <li><a href="#/teachers">Teacher</a></li>
          <li class="divider"></li>
          <li><a href="#/admin">Admin</a></li>
        </ul>

      <nav class="blue lighten-1">
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/about">About Us</a></li>
        <!--dropdown trigger-->
        <li><a href="#" data-activates="dropdown2" class="dropdown-button"  data-beloworigin="true">Staff</a></li>
        <li><a href="#/students">Student</a></li>
        <li><a href="#/campus">Campus journal</a></li>
        <li><a href="#/support">Support</a></li>
        <li><a href="#/contact">Contact Us</a></li>
		<li><a href="#/login">Admin</a></li>
      </ul>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/about">About Us</a></li>
        <!--dropdown trigger-->
        <li><a href="#/home" class='dropdown-button' data-activates='dropdown1' data-beloworigin="true">Staff</a></li>
        <li><a href="#/students">Student</a></li>
        <li><a href="#/campus">Campus journal</a></li>
        <li><a href="#/support">Support</a></li>
        <li><a href="#/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav> 
</div>
</div>
</center>