<div ng-include="'/views/navigation_bar.html'"></div>
<div>
<center>
	<div class="row">
             <form class="form-horizontal col s6 offset-s4 center-align" role="form">
            <div class="form-group">
              <label for="matricule" class="col s2 control-label">Matricule</label>
              <div class="col s4">
                <input type="text" class="form-control" id="matricule" placeholder="Matricule">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col s2 control-label">Password</label>
              <div class="col s4">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col s6">
                    <input type="checkbox" id="filled-in-box" class="filled-in" checked="checked"/>
                  <label for="filled-in-box"> Remember me</label>
              </div>
              
            </div>
            <div class="form-group">
              <div class="col s6">
                <button type="submit" class="btn waves-effect waves-light">Login</button>
              </div>
            </div>
            <div class="col s6">
              <a href="signup.html" class="waves-effect waves-light btn">Sign up</a> 
            </div>
           </form>      
      </div> 
</center>   
</div>
    <br/><div class="divider"></div><br/>
	<div ng-include="'/views/footer.html'"></div>