<div ng-include="'/views/navigation_bar.html'"></div>
<div>
	<div class="slider">
        <ul class="slides">
          <li>
            <img src="images/background3.jpg" class="responsive-img"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="images/background2.jpg" class="responsive-img"> <!-- random image -->
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="images/reflect.jpg" class="responsive-img"> <!-- random image -->
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="images/jennifer.jpg" class="responsive-img"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
      </div>

      <!--Payment Platforms-->
      <div class="row"><br/>
        <div class="divider"></div>
        <h1 class="center-align">Payment Platforms</h1><br/>
        <div class="col s4">
          <a href="#" class="light grey-text text-lighten-3"><img height="200" width="250" src="images/mobile.jpeg" alt="mtn mobile money"></a>
        </div>
       <div class="col s4">
          <a href="#" class="light grey-text text-lighten-3"><img height="210" width="240" src="images/orange.jpeg" alt="orange money"></a>
        </div>
        <div class="col s4">
          <a href="#" class="light grey-text text-lighten-3"><img height="200" width="350" src="images/express.jpg" alt="express union"></a>
        </div>

      </div>
</div>
    <br/><div class="divider"></div><br/>
	<div ng-include="'/views/footer.html'"></div>